.shortText{
    max-width: 16vw;
}
.longText{
    width: 85%;
    margin-top: 25px
}
.fullText{
    width: 95%;
    margin-top: 25px
}
input[type="text"]{
    border: none;
    border-bottom: 2px solid rgb(128, 128, 128);
    outline: none;
    font-size: 15px;
    padding-left: 5px;
    padding-bottom: 5px;
    font-weight: bolder;
}
input[type="text"]:focus{
    border-bottom: 2px solid  rgba(100, 102, 237, 0.63);
}
.add{
    margin-top: 20px;
    color: forestgreen;
    height: 27px;
}
.mainAdd{
    font-weight: bold;
}
.del{
    color: red;
}
#control{
    display: flex;
    justify-content: space-evenly;
}
#outer{
    padding-bottom: 50px;
}